// layout
$gap: 20px;
$width: 300px;
$height: 35px;

// font
$font: system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
$title_size: 16px;
$text_size: 12px;

// colors
$success_bg: #7fc876;
$success_text: #fff;

$error_bg: #f36161;
$error_text: #fff;

$warning_bg: #edc252;
$warning_text: #fff;

$info_bg: #4e93e0;
$info_text: #fff;

$button_hover_bg: rgba(255,255,255,.2);

$progress_overlay: rgba(0,0,0,.1);


